hrm311:
  target: dev
  outputs:
    dev:
      type: postgres
      host: postgres
      user: ds
      password: ds_password
      port: 5432
      dbname: hrm311
      schema: staging
      threads: 4
